<div *ngFor="let item of products; let i=index">
  <p>{{i}}</p>
  <div class="product-container" [ngStyle]="{backgroundColor:item.brand=='Apple'?'Beige':'White'}">
    <div class="image-container"><img [src]="item.image" alt="" style="max-height: 50px;max-width: 50px;"></div>
    <div>
      <div class="name-container">
        <h6>{{item.title}}</h6>
      </div>
    </div>
    <div class="detailContainer">
      <div class="details" [ngStyle]="{color: item.brand=='Apple'?'Green':'Red'}"><b>Brand: </b>{{item.brand}}</div>
      <div class="details"><b>Price: </b>{{item.price}}</div>
      <div class="details"><b>Category: </b>{{item.category}}</div>
    </div>
  </div>
  <div class="options">
    <button class="btn btn-success ">Show Details</button>
    <button class="btn btn-warning">Buy Now</button>
  </div>
</div>